.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 3844px;
  position: relative;
  overflow: hidden;
}
.div2 {
  color: #bbbbbb;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 143px;
  top: 3084px;
  width: 451px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.istockphoto-1483235369-612-x-612-1 {
  width: 1920px;
  height: 344px;
  position: absolute;
  left: 0px;
  top: 141px;
  object-fit: cover;
}
.istockphoto-1483235369-612-x-612-2 {
  width: 1920px;
  height: 344px;
  position: absolute;
  left: 0px;
  top: 1170px;
  object-fit: cover;
}
._50 {
  background: rgba(255, 255, 255, 0.7);
  width: 1920px;
  height: 344px;
  position: absolute;
  left: 0px;
  top: 141px;
}
._502 {
  background: rgba(255, 255, 255, 0.7);
  width: 1920px;
  height: 344px;
  position: absolute;
  left: 0px;
  top: 1170px;
}
.div3 {
  color: #555656;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 671px);
  top: 214px;
  width: 363px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.easy-support-service {
  color: #000000;
  text-align: center;
  font-family: "NicoMoji-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 834px);
  top: 307px;
  width: 689px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review {
  color: #000000;
  text-align: left;
  font-family: "NicoMoji-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 817px);
  top: 3027px;
  width: 346px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.physical-therapist-physical-therapist {
  color: #ffffff;
  text-align: left;
  font-family: "NicoMoji-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 960px);
  top: 1464px;
  width: 1920px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.physical-therapist-physical-therapist2 {
  color: #ffffff;
  text-align: right;
  font-family: "NicoMoji-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 960px);
  top: 1394px;
  width: 1920px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div4 {
  position: absolute;
  inset: 0;
}
.div5 {
  background: linear-gradient(
    90deg,
    rgba(82, 101, 255, 1) 0%,
    rgba(5, 126, 255, 1) 100%
  );
  border-radius: 23.5px;
  width: 165px;
  height: 46px;
  position: absolute;
  left: 388px;
  top: 556px;
}
.div6 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 411px;
  top: 569px;
  width: 119px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-22 {
  border-radius: 10px;
  width: 657px;
  height: 417px;
  position: absolute;
  left: 388px;
  top: 626px;
  object-fit: cover;
}
.rectangle-36 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 657px;
  height: 417px;
  position: absolute;
  left: 388px;
  top: 626px;
}
._4-5-1-1-3 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 452.06px;
  top: 678px;
  width: 546.95px;
  height: 293px;
}
._4-5-1-1-3-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-3-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-3-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div7 {
  width: 269.37px;
  height: 44px;
  position: static;
}
.div8 {
  background: #ff5500;
  border-radius: 10px;
  width: 252.95px;
  height: 44px;
  position: absolute;
  left: 590.03px;
  top: 971px;
}
.div9 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 581.82px;
  top: 984px;
  width: 269.37px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div10 {
  width: 50.92px;
  height: 31px;
  position: static;
}
.div11 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 50.92px;
  height: 31px;
  position: absolute;
  left: 407.71px;
  top: 637px;
}
.div12 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 420.85px;
  top: 645px;
  width: 24.64px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-23 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 721px;
  top: 1624px;
  object-fit: cover;
}
.rectangle-362 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 721px;
  top: 1624px;
}
._4-5-1-1-32 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 775.21px;
  top: 1676px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-32-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-32-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-32-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div13 {
  width: 227.96px;
  height: 44px;
  position: static;
}
.div14 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 891.97px;
  top: 1969px;
}
.div15 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 885.02px;
  top: 1982px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div16 {
  width: 43.09px;
  height: 31px;
  position: static;
}
.div17 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 737.68px;
  top: 1635px;
}
.div18 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 748.8px;
  top: 1643px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-24 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 721px;
  top: 2062px;
  object-fit: cover;
}
.rectangle-363 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 721px;
  top: 2062px;
}
._4-5-1-1-33 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 775.21px;
  top: 2114px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-33-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-33-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-33-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div19 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 891.97px;
  top: 2407px;
}
.div20 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 885.02px;
  top: 2420px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div21 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 737.68px;
  top: 2073px;
}
.div22 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 748.8px;
  top: 2081px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-25 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 721px;
  top: 2500px;
  object-fit: cover;
}
.rectangle-364 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 721px;
  top: 2500px;
}
._4-5-1-1-34 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 775.21px;
  top: 2552px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-34-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-34-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-34-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div23 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 891.97px;
  top: 2845px;
}
.div24 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 885.02px;
  top: 2858px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div25 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 737.68px;
  top: 2511px;
}
.div26 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 748.8px;
  top: 2519px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-26 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 1299px;
  top: 1624px;
  object-fit: cover;
}
.rectangle-365 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 1299px;
  top: 1624px;
}
._4-5-1-1-35 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1353.21px;
  top: 1676px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-35-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-35-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-35-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div27 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 1469.97px;
  top: 1969px;
}
.div28 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1463.02px;
  top: 1982px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div29 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 1315.68px;
  top: 1635px;
}
.div30 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1326.8px;
  top: 1643px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-27 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 1299px;
  top: 2062px;
  object-fit: cover;
}
.rectangle-366 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 1299px;
  top: 2062px;
}
._4-5-1-1-36 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1353.21px;
  top: 2114px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-36-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-36-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-36-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div31 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 1469.97px;
  top: 2407px;
}
.div32 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1463.02px;
  top: 2420px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div33 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 1315.68px;
  top: 2073px;
}
.div34 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1326.8px;
  top: 2081px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-28 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 1299px;
  top: 2500px;
  object-fit: cover;
}
.rectangle-367 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 1299px;
  top: 2500px;
}
._4-5-1-1-37 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1353.21px;
  top: 2552px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-37-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-37-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-37-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div35 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 1469.97px;
  top: 2845px;
}
.div36 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1463.02px;
  top: 2858px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div37 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 1315.68px;
  top: 2511px;
}
.div38 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1326.8px;
  top: 2519px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-29 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 143px;
  top: 1624px;
  object-fit: cover;
}
.rectangle-368 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 143px;
  top: 1624px;
}
._4-5-1-1-38 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 197.21px;
  top: 1676px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-38-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-38-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-38-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div39 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 313.97px;
  top: 1969px;
}
.div40 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 307.02px;
  top: 1982px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div41 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 159.68px;
  top: 1635px;
}
.div42 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 170.8px;
  top: 1643px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-210 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 143px;
  top: 2062px;
  object-fit: cover;
}
.rectangle-369 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 143px;
  top: 2062px;
}
._4-5-1-1-39 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 197.21px;
  top: 2114px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-39-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-39-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-39-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div43 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 313.97px;
  top: 2407px;
}
.div44 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 307.02px;
  top: 2420px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div45 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 159.68px;
  top: 2073px;
}
.div46 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 170.8px;
  top: 2081px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-15 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-211 {
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 143px;
  top: 2500px;
  object-fit: cover;
}
.rectangle-3610 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 417px;
  position: absolute;
  left: 143px;
  top: 2500px;
}
._4-5-1-1-310 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 197.21px;
  top: 2552px;
  width: 462.87px;
  height: 293px;
}
._4-5-1-1-310-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-310-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-310-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div47 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 44px;
  position: absolute;
  left: 313.97px;
  top: 2845px;
}
.div48 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 307.02px;
  top: 2858px;
  width: 227.96px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div49 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 43.09px;
  height: 31px;
  position: absolute;
  left: 159.68px;
  top: 2511px;
}
.div50 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 170.8px;
  top: 2519px;
  width: 20.85px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-212 {
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: -427px;
  top: 3167px;
  object-fit: cover;
}
.rectangle-3611 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: -427px;
  top: 3167px;
}
.div51 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: -372.79px;
  top: 3201.67px;
  width: 462.87px;
  height: 195.33px;
}
.div-51-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.div-51-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.div52 {
  width: 227.96px;
  height: 29.33px;
  position: static;
}
.div53 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 29.33px;
  position: absolute;
  left: -256.03px;
  top: 3397px;
}
.div54 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: -262.98px;
  top: 3405.67px;
  width: 227.96px;
  height: 11.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-213 {
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 151px;
  top: 3167px;
  object-fit: cover;
}
.rectangle-3612 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 151px;
  top: 3167px;
}
.div55 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 205.21px;
  top: 3201.67px;
  width: 462.87px;
  height: 195.33px;
}
.div-55-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.div-55-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.div56 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 29.33px;
  position: absolute;
  left: 321.97px;
  top: 3397px;
}
.div57 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 315.02px;
  top: 3405.67px;
  width: 227.96px;
  height: 11.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-18 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-214 {
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 729px;
  top: 3167px;
  object-fit: cover;
}
.rectangle-3613 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 729px;
  top: 3167px;
}
.div58 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 783.21px;
  top: 3201.67px;
  width: 462.87px;
  height: 195.33px;
}
.div-58-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.div-58-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.div59 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 29.33px;
  position: absolute;
  left: 899.97px;
  top: 3397px;
}
.div60 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 893.02px;
  top: 3405.67px;
  width: 227.96px;
  height: 11.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-215 {
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 1307px;
  top: 3167px;
  object-fit: cover;
}
.rectangle-3614 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 1307px;
  top: 3167px;
}
.div61 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1361.21px;
  top: 3201.67px;
  width: 462.87px;
  height: 195.33px;
}
.div-61-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.div-61-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.div62 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 29.33px;
  position: absolute;
  left: 1477.97px;
  top: 3397px;
}
.div63 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1471.02px;
  top: 3405.67px;
  width: 227.96px;
  height: 11.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-216 {
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 1885px;
  top: 3167px;
  object-fit: cover;
}
.rectangle-3615 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 556px;
  height: 278px;
  position: absolute;
  left: 1885px;
  top: 3167px;
}
.div64 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1939.21px;
  top: 3201.67px;
  width: 462.87px;
  height: 195.33px;
}
.div-64-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.div-64-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.div65 {
  background: #ff5500;
  border-radius: 10px;
  width: 214.06px;
  height: 29.33px;
  position: absolute;
  left: 2055.97px;
  top: 3397px;
}
.div66 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 2049.02px;
  top: 3405.67px;
  width: 227.96px;
  height: 11.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-217 {
  border-radius: 10px;
  width: 303px;
  height: 417px;
  position: absolute;
  left: 1067px;
  top: 626px;
  object-fit: cover;
}
.rectangle-3616 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 303px;
  height: 417px;
  position: absolute;
  left: 1067px;
  top: 626px;
}
._4-5-1-1-311 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1096.54px;
  top: 678px;
  width: 252.25px;
  height: 293px;
}
._4-5-1-1-311-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-311-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-311-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div67 {
  width: 124.23px;
  height: 44px;
  position: static;
}
.div68 {
  background: #ff5500;
  border-radius: 10px;
  width: 116.66px;
  height: 44px;
  position: absolute;
  left: 1160.17px;
  top: 971px;
}
.div69 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1156.39px;
  top: 984px;
  width: 124.23px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div70 {
  width: 30px;
  height: 30px;
  position: static;
}
.div71 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1076px;
  top: 637px;
}
.div72 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1083px;
  top: 644px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-218 {
  border-radius: 10px;
  width: 303px;
  height: 417px;
  position: absolute;
  left: 1392px;
  top: 626px;
  object-fit: cover;
}
.rectangle-3617 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 303px;
  height: 417px;
  position: absolute;
  left: 1392px;
  top: 626px;
}
._4-5-1-1-312 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1421.54px;
  top: 678px;
  width: 252.25px;
  height: 293px;
}
._4-5-1-1-312-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-312-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-312-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div73 {
  background: #ff5500;
  border-radius: 10px;
  width: 116.66px;
  height: 44px;
  position: absolute;
  left: 1485.17px;
  top: 971px;
}
.div74 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1481.39px;
  top: 984px;
  width: 124.23px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div75 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1401px;
  top: 637px;
}
.div76 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1408px;
  top: 644px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.istockphoto-1483235369-612-x-612-219 {
  border-radius: 10px;
  width: 303px;
  height: 417px;
  position: absolute;
  left: 1717px;
  top: 626px;
  object-fit: cover;
}
.rectangle-3618 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 303px;
  height: 417px;
  position: absolute;
  left: 1717px;
  top: 626px;
}
._4-5-1-1-313 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 1746.54px;
  top: 678px;
  width: 252.25px;
  height: 293px;
}
._4-5-1-1-313-span {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
._4-5-1-1-313-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._4-5-1-1-313-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.div77 {
  background: #ff5500;
  border-radius: 10px;
  width: 116.66px;
  height: 44px;
  position: absolute;
  left: 1810.17px;
  top: 971px;
}
.div78 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1806.39px;
  top: 984px;
  width: 124.23px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div79 {
  background: #fffefe;
  border-radius: 10px;
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 1px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1726px;
  top: 637px;
}
.div80 {
  color: #ffc700;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1733px;
  top: 644px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-37 {
  background: #5265ff;
  border-radius: 50px;
  width: 656px;
  height: 10px;
  position: absolute;
  left: 389px;
  top: 1050px;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 563px;
  top: 564px;
}
.div81 {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: 93px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div82 {
  color: #bbbbbb;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: 93px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-1 {
  background: #ff0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 638px;
  top: 554px;
}
.div83 {
  background: #ffffff;
  border-radius: 10px;
  width: 322px;
  height: 265.65px;
  position: absolute;
  left: 1556px;
  top: 180px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div84 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1579px;
  top: 205.3px;
  width: 129.95px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div85 {
  width: 108.1px;
  height: 34.5px;
  position: static;
}
.rectangle-5 {
  border-radius: 15px;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  width: 108.1px;
  height: 34.5px;
  position: absolute;
  left: 1746.9px;
  top: 200.7px;
}
.rectangle-6 {
  background: #4e66ff;
  border-radius: 15px;
  width: 50.6px;
  height: 27.6px;
  position: absolute;
  left: 1750.35px;
  top: 204.15px;
}
.div86 {
  color: #737373;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1800.95px;
  top: 208.75px;
  width: 50.6px;
  height: 17.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div87 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1750.35px;
  top: 208.75px;
  width: 50.6px;
  height: 17.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-1 {
  width: 276px;
  height: 88.55px;
  position: static;
}
.rectangle-1 {
  background: #ffffff;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  width: 186.3px;
  height: 44.85px;
  position: absolute;
  left: 1579px;
  top: 243.25px;
}
.rectangle-2 {
  background: #ffffff;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  width: 186.3px;
  height: 44.85px;
  position: absolute;
  left: 1579px;
  top: 286.95px;
}
.rectangle-3 {
  background: #f9f9f9;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  width: 90.85px;
  height: 88.55px;
  position: absolute;
  left: 1764.15px;
  top: 243.25px;
}
.div88 {
  color: #cecece;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1584.75px;
  top: 251.3px;
  width: 129.95px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div89 {
  color: #cecece;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1584.75px;
  top: 295px;
  width: 129.95px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div90 {
  color: #737373;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1775.65px;
  top: 273.15px;
  width: 67.85px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2 {
  width: 154.1px;
  height: 28.75px;
  position: static;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #737373;
  border-width: 1px;
  width: 17.25px;
  height: 17.25px;
  position: absolute;
  left: 1579px;
  top: 342.15px;
}
.div91 {
  color: #737373;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1603.15px;
  top: 336.4px;
  width: 129.95px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2 {
  border-style: solid;
  border-color: #737373;
  border-width: 1px 0 0 0;
  width: 276px;
  height: 0px;
  position: absolute;
  left: calc(50% - -619px);
  top: 392.75px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.div92 {
  color: #737373;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -613.25px);
  top: 404.25px;
  width: 287.5px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div93 {
  background: #ffffff;
  border-radius: 10px;
  width: 574px;
  height: 266px;
  position: absolute;
  left: 936px;
  top: 180px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div94 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -5px);
  top: calc(50% - 1688px);
  width: 518px;
  height: 197px;
}
.div95 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 965px;
  top: 196px;
  width: 129.95px;
  height: 28.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle-35 {
  background: #ffffff;
  width: 1920px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 3644px;
}
._368-5-303-87-01739-2020-03650-j-1200020190006-copyright-medijob-corp-all-right-reserved {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 615px);
  top: 3661px;
  width: 885px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._02-554-6833-10-00-18-00-12-30-13-30-medijob-medijobleaders-com-02-554-6832 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - -310px);
  top: 3661px;
  width: 295px;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._02-554-6833-10-00-18-00-12-30-13-30-medijob-medijobleaders-com-02-554-6832-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
._02-554-6833-10-00-18-00-12-30-13-30-medijob-medijobleaders-com-02-554-6832-span2 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
._02-554-6833-10-00-18-00-12-30-13-30-medijob-medijobleaders-com-02-554-6832-span3 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.rectangle-34 {
  background: #ededed;
  width: 1920px;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 3582px;
}
.sms {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 615px);
  top: 3601px;
  width: 1162px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-3 {
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 2px 0 0 0;
  width: 149px;
  height: 0px;
  position: absolute;
  left: 1238px;
  top: 3661px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.physical-match {
  text-align: center;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 922px);
  top: calc(50% - 1890px);
  width: 182px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.physical-match-span {
  color: #ff5500;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.physical-match-span2 {
  color: #1a8dff;
  font-family: "LuckiestGuy-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.line-19 {
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px 0 0 0;
  width: 1920px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 142px;
  transform-origin: 0 0;
  transform: rotate(-0.03deg) scale(1, 1);
}
.div96 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 425px);
  top: 55px;
}
.div97 {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  width: 190px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-join {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1682px;
  top: 55px;
  width: 157px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
